<div class="sidebar-nav">
  <ul class="nav nav-stacked left-menu">
    <li id="navigation-index">
      <%= link_to "Cupboard", cupboard_path, { :class => "hidden-tablet hidden-phone" } %>
    </li>
  </ul>
</div>
