<div class="sidebar-nav">
  <ul class="nav nav-stacked left-menu">
    <li id="navigation-index" class="active">
      <span class="hidden-tablet hidden-phone">Cupboard</span>
    </li>
    <li id="navigation-index" class="active">
      <span class="hidden-tablet hidden-phone">Shopping Lists</span>
    </li>
  </ul>
</div>
