<div class='navbar navbar-inverse navbar-static-top'>
  <div class='navbar-inner black-gradient'>
    <div class='container-fluid'>
      <a class='brand'>
        <span class=rad>The</span> Fridge
      </a>

      <div class='nav-collapse collapse'>
        <p class='navbar-text pull-right'>
          <a id='user-popover' class='navbar-link user-info'>
            <%= current_user.email %>
          </a>
          <a class='btn btn-mini btn-inverse navbar-link logout'>
            Logout
          </a>
        </p>
      </div>
      
    </div>
  </div>
</div>
