<%= render partial: 'top_nav' %>
<div class="row-fluid">
</div>
<div class="container-fluid main-container">
  <div class="row-fluid">
    <div class="span-12">
      <%= render partial: 'side_nav' %>
      <div class="container-fluid content-wrapper">
        <h1>Your Cupboard</h1>
        <div class="container-fluid content-wrapper">
          <div class='span10'>
            <div class='hero-unit'>
              <h1>Ingredients</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

