<%= render partial: 'top_nav' %>
<div class="row-fluid">
</div>
<div class="container-fluid main-container">
  <div class="row-fluid">
    <div class="span-12">
      <%= render partial: 'side_nav' %>
      <%= render partial: "dashboard/recipe_partial", locals: { recipe: @recipe } %>
    </div>
  </div>
</div>

<%= button_tag link_to("New Recipe", dashboard_path, method: :get)%>
