<%= render partial: 'top_nav' %>
<div class="row-fluid">
</div>
<div class="container-fluid main-container">
  <div class="row-fluid">
    <div class="span-12">
      <%= render partial: 'side_nav' %>
      <div class="container-fluid content-wrapper">
        <%= render partial: "dashboard/recipe_partial", locals: { recipe: @recipe } %>
        <%= render partial: "dashboard/list_partial", locals: {list: @list} if @list %>
      </div>
    </div>
  </div>
</div>
