// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shopping-list-buttons {
  list-style-type: none;
  text-align: right;
}

.shopping-list-buttons li {
  display: inline-block;
  padding-left: 20px
}
