<!DOCTYPE html>
<html>
<head>
  <title>The Fridge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="body-index">

<div id='sticky-footer-wrap'>
<%= yield %>
<div id='sticky-footer-push'></div>
</div>

</body>
</html>
